@font-face {
	font-family: GeForce;
	src: url(../res/geforce-light.ttf);
	/*src: url(../res/geforce-bold.ttf);*/
}
p {
	font-family: GeForce;
	color: crimson;
}
p.normal {
	font-weight: normal;
	font-family: GeForce;
	color: crimson;
}
p.bold {
	font-weight: bold;
}