:root {
	--sw1: #f8e9a1;
	--sw2: #f76c6c;
	--sw3: #a8d0e6;
	--sw4: #374785;
	--sw5: #24305e;
}
html, body {
	background-color: white;
	font-family: Special Elite;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: inherit;
}
a.smlink{
	color: white;
	font-size: 14px;
	text-decoration: none;
}
#header {
	background-color: var(--sw5);
	color: var(--sw1);
	font-size: 32px;
	padding: 10px;
}
#body {
	margin-left: 220px;
	padding: 10px;
	line-height: 1.15;
}
#sidebar {
	background-color: var(--sw4);
	font-weight: bold;
	color: var(--sw1);
	font-size: 16px;
	padding: 10px;
	width: 200px;
	height: 100%;
	position: fixed;
	float: left;
}
div.subheading {
	color: var(--sw2);
	font-size: 24px;
}
