:root {
	--sw1: #f8e9a1;
	--sw2: #f76c6c;
	--sw3: #a8d0e6;
	--sw4: #374785;
	--sw5: #24305e;
}
html, body {
	background-color: white;
	font-family: Special Elite;
	margin: 0px;
	padding: 0px;
}
a {
	color: inherit;
}
a.title {
	text-decoration: none;
}
a.smlink {
	color: white;
	font-size: 14px;
	text-decoration: none;
}
p {
}
h2, h3 {
	color: var(--sw2);
}
h4 {
	color: var(--sw4);
}
br {
	line-height: 1.5;
}
li {
}
#header {
	background-color: var(--sw5);
	color: var(--sw1);
	font-size: 32px;
	padding: 10px;
}
#body {
	padding: 10px;
	line-height: 1.15;
	float: none;
	width: auto;
}
#footer {
	background-color: var(--sw2);
	padding: 10px;
	margin-top: 20px;
}
#sidebar {
	background-color: var(--sw4);
	font-weight: bold;
	color: var(--sw1);
	font-size: 16px;
	padding: 10px;
}
.container {
    margin: auto;
	height: 1800px;
}
.left {
	width: 150px;
	height: 100%;
    background: red;
    float: left;
}
.right {
    margin-left: 190px;
    height: 100%;
}
div.subheading {
	color: var(--sw2);
	font-size: 24px;
}
div.foottext {
	font-size: 16px;
}