html, body {
	background-color: #f2f2f2;
	font-family: Helvetica;
	margin: 0px;
	padding: 0px;
}
a{
	color: #ffffff;
	text-decoration: none;
}
#header {
	background-color: #d80808;
	color: #f2f2f2;
	font-size: 32px;
	padding: 1%;
}
#body {
	margin-left: 17%;
	padding: 1%;
}
#sitemap {
	background-color: #000000;
	font-weight: bold;
	color: #f2f2f2;
	font-size: 14px;
	padding: 1%;
	width: 15%;
	float: left;
}
div.subheading {
	color: #f2f2f2;
	font-size: 24px;
}
